.main {
	display: grid;
	gap: 4rem;
	grid-template-rows: auto fit-content 1fr;
	grid-template-columns: 75% 25%;
	grid-template-areas: 
		"filters favorites"
		"comics-feed favorites"
		"footer footer";
	justify-content: center;
	margin: 0 auto;
	width: 90%;
	z-index: 1;
}

.filters {
	align-items: center;
	background-color: var(--off-black);
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: inherit;
	font-size: inherit;
	gap: 8px;
	grid-area: filters;
	min-height: 55px;
	height: fit-content;
	padding: 2px 20px;
}

.filters select {
	background-color: var(--off-black);
	border-radius: 5px;
	color: var(--off-white);
	font-family: inherit;
	font-size: inherit;
}

.filterSelects {
	display: block;
}

#comics-grid {
	grid-area: comics-feed;
}

.showFavoritesButton {
	display: none;
	align-self: center;
	margin-right: 0;
	margin-left: auto;
}


/**=====  Nav Bar  ===== */
.navBar {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-items: center;
	position: absolute;
	right: 50px;
	top: 50px;
}

.navBar a, .navBar button {
	color: var(--off-white); 
	font-size: 18px;
	font-weight: 600;
	background-color: transparent;
	border: none;
}

.navBar i {
	padding-right: 5px;
}

.navBar .favoritesCount {
	color: var(--off-white);
	font-weight: 400;
}

.overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 20000;
	cursor: pointer;
}
.overlayImage {
	box-shadow: 0px 5px 12px #00000070;
	height: 70vw;
	width: auto;
	margin: 0 auto;
}



/**   Tablet   **/
@media only screen and (max-width: 800px) and (min-width: 500px) {

}


/**   Phone   **/
@media only screen and (max-width: 500px) {
	/**=====  Header  =====*/
	.main {
		grid-template-rows: 1fr 1fr fit-content 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"filters"
			"favorites"
			"comics-feed"
			"footer";
		gap: 1px;
		width: 90%;
	}

	.filters {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		grid-area: filters;
	}

	.filters select {
		margin-bottom: 5px;
	}
	.filterSelects.hidden {
		flex-direction: column;
	}
	.filterSelects.hidden {
		display: none;
	}

	.showFavoritesButton {
		display: inline;
	}
}