.main {
	display: grid;
	gap: 4rem;
	grid-template-rows: 500px fit-content 1fr;
	grid-template-columns: fit-content 160px;
	grid-template-areas: 
		"filters favorites"
		"comics-feed favorites"
		"footer footer";
	justify-content: center;
	padding: 4rem 4rem;
}

.filters {
	align-items: center;
	background-color: var(--off-black);
	color: white;
	display: flex;
	flex-direction: row;
	font-family: inherit;
	font-size: inherit;
	gap: 8px;
	grid-area: filters;
	height: 60px;
	padding: 0 20px;
}

.filters select {
	background-color: var(--off-black);
	border-radius: 5px;
	color: var(--off-white);
	font-family: inherit;
	font-size: inherit;
}

#comics-grid {
	grid-area: comics-feed;
}


/**=====  Header  =====*/
header.header {
	align-items: center;
	background: transparent url('../public/hero-photo@2x.png') 0% 0% no-repeat padding-box;
	display: grid;
	height: 600px;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

h1.pageTitle {
	align-items: center;
	background: #C24868E6 0% 0% no-repeat padding-box;
	color: var(--off-white);
	display: flex;
	font: normal normal 900 61px/74px Montserrat;
	font-size: 5em;
	height: 175px;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	text-shadow: 3px 3px 0px #000000;
	width: 580px;
}

.CCLogo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.halftone{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: -15px;
	left: 0;
	z-index: 100;
}