.card {
	display: grid;
	justify-items: center;
	grid-area: comics-feed;
	grid-template-columns: 185px;
	grid-template-rows: 275px 275px;
	grid-template-areas: "image"
						"detail";
}

.card h3 {
	font-size: 18px;
	font-weight: 700;
	margin: 10px 0 0 0;
	padding: 20px 0;
}

.card ul {
	font-family: var(--Karla);
	font-size: 18px;
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

.card ul li {
	padding-bottom: 6px;
}

.card Image {
	box-shadow: 0px 5px 12px #00000070;
	grid-area: image;
	height: auto;
	max-width: 185px;
	width: auto;
}

.detail {
	display: grid;
	grid-area: detail;
	height: fit-content;
	justify-self: baseline;
	max-width: 185px;
	width: 100%;
}

.detail_label {
	color: black;
	font-weight: 900;
	font-family: var(--Karla);
}

.detail_data {
	font-weight: 500;
}

button.button_detail {
	background-color: var(--off-black);
	border: 0px outset aliceblue;
	border-radius: 50%;
	color: var(--off-white);
	font-size: 1.6em;
	grid-area: detail;
	height: 50px;
	justify-self: center;
	padding: 5px;
	position: relative;
	top: -28px;
	width: 50px;
	z-index: 100;
}
button.favorite {
	background-color: var(--red);
	border: 2px solid var(--off-white);
}

/**   Tablet   **/
@media only screen and (max-width: 800px) and (min-width: 500px) {}


/**   Phone   **/
@media only screen and (max-width: 500px) {
	.card {
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 250px;
		grid-template-areas: "detail image";
	}

	.card Image {
		height: auto;
		width: auto;
	}

	.detail {
		height: fit-content;
		max-width: 100%;
		width: 100%;
	}

	button.button_detail {
		font-size: 1.2em;
		grid-area: detail;
		height: 40px;
		padding: 5px;
		top: 120px;
		right: -100px;
		width: 40px;
	}
}