.comics {
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.comic {
	grid-area: comics-feed;
	display: grid;
	grid-template-columns: 185px;
	grid-template-rows: 275px 275px;
	margin: 30px 15px;
	max-width: 900px;
	justify-items: center;
	grid-template-areas: "image"
						"detail";
}

.comic h3 {
	font-weight: 700;
	font-size: 18px;
	padding: 20px 0;
	margin: 10px 0 0 0;
}

.comic ul {
	font-size: 18px;
	font-family: Karla, serif;
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-position: outside;
}

.comic ul li {
	padding-bottom: 6px;
}

.comic Image {
	max-width: 185px;
	height: auto;
	width: auto;
	grid-area: image;
	box-shadow: 0px 5px 15px #00000029;
}

.detail {
	display: grid;
	justify-self: baseline;
	width: 100%;
	max-width: 185px;
	grid-area: detail;
	height: fit-content;
}
.detail_label {
	color: black;
	font-weight: 900;
}
.detail_data {
	font-weight: 500;
}
button.button_detail {
	justify-self: center;
	color: var(--off-white);
	width: 50px;
	height: 50px;
	font-size: 1.2em;
	border-radius: 50%;
	background-color: var(--off-black);
	border: 0px outset aliceblue;
	padding: 5px;
	z-index: 100;
	position: relative;
	top: -28px;
	grid-area: detail;
}
button.favorite {
	background-color: var(--red);
	border: 2px solid var(--off-white);
}
@media (min-width: 800px) {
	.comic {
		grid-template-columns: 185px;
		grid-template-rows: 275px 275px;
		max-width: 600px;
		margin: 20px 10px;
	}
	.comic ul {
		font-size: 1.1em;
		padding: 0;
		margin: 0;
	}
	.comic Image {
		max-width: 185px;
	}
	.detail {
		padding: 10px;
		max-width: 185px;
	}
}