.comic {
	border: 3px solid green;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: fit-content(450px) 1fr;
	margin: 30px;
	max-width: 900px;
	justify-items: center;
}

.comic h3 {
	font-size: 1em;
}

.comic img {
	max-width: 250px;
}

.detail {
	justify-self: baseline;
	padding: 20px;
}
.detail_label {
	color: cornflowerblue;
	font-family: serif;
	text-decoration: underline;
}
.detail_data {
	font-size: 1.3em;
	padding-bottom: 10px;
	margin-top: -15px;
}

@media (min-width: 800px) {
	.comic {
		grid-template-columns: fit-content(450px) 1fr;
		grid-template-rows: 1fr;
	}
	.comic h3 {
		font-size: 1.2em;
	}
	.comic img {
		max-width: 400px;
	}
	.detail {
		padding: 20px;
	}
	.detail_data {
		font-size: 1.3em;
		padding-bottom: 10px;
	}
}