.comicsFeed {
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.errorMessage {
	text-align: center;
}

.errorMessage i {
	font-size: 6em;
}

.pageSelector {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 0 auto;
}

.pageSelector p {
	font: normal normal normal 18px/16px Karla;
	font-size: 18px;
	font-weight: 600;
}

.pageSelector button{
	background-color: var(--off-black);
	border-radius: 50%;
	color: var(--off-white);
	font-size: 18px;
	height: 35px;
	text-align: center;
	width: 35px;
}