.footer {
	align-items: center;
	background-color: var(--off-black);
	border-top: 1px solid #eaeaea;
	color: var(--off-white);
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	margin: 10px 0 0 0;
	padding: 2rem 15px;
	text-align: center;
}

.footer a {
	align-items: center;
	display: inline;
	justify-content: center;
	text-decoration: underline;
	margin: 6px;
}


/**   Tablet   **/
@media only screen and (max-width: 800px) and (min-width: 500px) {}

/**   Phone   **/
@media only screen and (max-width: 500px) {
	.footer {
		padding: 2rem 5px;
	}
}