:root {
	--white: #00000000;
	--off-white: #F8F8F2;
	--green: #9ECFC5;
	--pink: #C24868E6;
	--red: #C24868;
	--black: #000000;
	--off-black: #222222;
	--lightest-gray: #00000029;
	--light-gray: #8B8B8B;
	--gray: #00000075;
	--dark-gray: #000000B3;
}


html,
body {
	padding: 0;
	margin: 0;
	background-color: var(--off-white);
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
	}
	body {
		color: black;
		background: var(--off-white);
	}
}
