/**=====  Header  =====*/
header.header {
	align-items: center;
	background: transparent url('../public/hero-photo.png') 0% 0% no-repeat padding-box;
	background-size: cover;
	display: grid;
	height: 600px;
	justify-content: center;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

h1.pageTitle {
	align-items: center;
	background: #C24868E6 0% 0% no-repeat padding-box;
	color: var(--off-white);
	display: flex;
	font: normal normal 900 61px/74px Montserrat;
	font-size: 5em;
	font-weight: 900;
	height: 175px;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	text-shadow: 3px 3px 0px #000000;
	width: 580px;
}

.CCLogo {
	position: absolute;
	top: 10px;
	left: 10px;
}

.halftone{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: -15px;
	left: 0;
	z-index: 100;
}

.hamburger {
	display: none;
}

/**=====  Nav Bar  ===== */
.navBar {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-items: center;
	position: absolute;
	right: 50px;
	top: 50px;
}

.navBar a, .navBar button {
	color: var(--off-white); 
	font-size: 18px;
	font-weight: 600;
	background-color: transparent;
	border: none;
}

.navBar i {
	padding-right: 5px;
}

.navBar .favoritesCount {
	color: var(--off-white);
	font-weight: 400;
}



/**   Tablet   **/
@media only screen and (max-width: 800px) and (min-width: 500px) {

}


/**   Phone   **/
@media only screen and (max-width: 500px) {
	/**=====  Header  =====*/
	header.header {
		background: transparent url('../public/hero-photo.png') 0% 0% no-repeat padding-box;
		height: 500px;
	}

	h1.pageTitle {
		font-size: 25px;
		padding: 2px 30px;
		width: fit-content;
		height: fit-content;
	}

	.CCLogo {
		height: 90px;
		width: 90px;
	}

	.main {
		grid-template-rows: 1fr 1fr fit-content 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"filters"
			"favorites"
			"comics-feed"
			"footer";
		width: 90%;
	}

	.filters {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		grid-area: filters;
	}

	.halftone {
		width: 100%;
		height: auto;
		position: absolute;
		left: 0;
		z-index: 100;
	}


		
	/**=====  Nav Bar  ===== */
	.navBar {
		align-items: flex-end;
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
		justify-items: center;
		right: 20px;
		top: 20px;
	}

	.navBar.navCollapsed {
		align-items: center;
		flex-direction: row;
	}

	.navBar button {
		border: 2px solid white;
		padding: 10px 12px;
		border-radius: 5px;
	}

	.navBar i {
		padding-right: 5px;
	}

	.navBar .favoritesCount {
		color: var(--off-white);
		font-weight: 400;
	}

	.hamburger {
		display: block;
	}

}