/**=====  Welcome Panel  =====*/
.welcomeHeader {
	margin: 0 auto;
	position: relative;
	width: 40%;
	z-index: 1;
	padding-bottom: 80px;
}

.welcomeHeader h2 {
	color: var(--red);
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 900;
	position: relative;
	z-index: 5;
}

.welcomeHeader h3 {
	background-color: var(--green);
	color: var(--off-white);
	font-family: Montserrat;
	position: relative;
	font-size: 18px;
	font-weight: 900;
	text-shadow: 3px 3px 0px #222222;
	padding: 10px 20px;
	width: fit-content;
	top: 3.2em;
	right: 3em;
	rotate: -6deg;
	z-index: 1;
}

.welcomeHeader p {
	color: var(--off-black);
	font-size: 20px;
}


/**   Tablet   **/
@media only screen and (max-width: 800px) and (min-width: 600px) {

	/**=====  Welcome Panel  =====*/
	.welcomeHeader {
		width: 75%;
		padding-bottom: 25px;
	}

	.welcomeHeader h2 {
		color: var(--red);
		font-size: 20px;
	}

	.welcomeHeader h3 {
		font-size: 16px;
		top: 0.5em;
		right: 0.5em;
	}
}


/**   Phone   **/
@media only screen and (max-width: 600px) {

	/**=====  Welcome Panel  =====*/
	.welcomeHeader {
		width: 90%;
		padding-bottom: 25px;
	}

	.welcomeHeader h2 {
		color: var(--red);
		font-size: 20px;
	}

	.welcomeHeader h3 {
		font-size: 16px;
		top: 0.5em;
		right: 0.5em;
	}
}